# Ignore virtual environments
.venv

# Ignore cached compiles
__pycache__/

# Ignore latex build files
/report/.minted-main
/report/_minted-main
/report/**/*.aux
/report/**/*.fdb_latexmk
/report/**/*.fls
/report/**/*.log
/report/**/*.out
/report/**/*.toc
/report/**/*.xdv
/report/out
.env
/code/dynet/denmark/data/*
/code/dynet/denmark/.ipynb_checkpoints/*
/code/dynet/denmark/__pycache__/*
/code/dynet/denmark/embeddings/*
/code/bilstm-aux/**/__pycache__/*
**/download_files.sh
**/download_all_files.sh
data/pos/ud-treebanks-v2.3.tgz

# IDE files
.idea
